.navbar-light .navbar-nav .nav-link {
  color: var(--primary);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--secondary);
}
.navbar-dark .navbar-nav .nav-link {
  color: var(--primary);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--secondary);
}

.carousel-item {
  max-height: 750px;
}

.carousel-indicators {
  width: 90px;
}
.carousel-indicators li {
  width: 16px;
  height: 16px;
  background-color: white;
}

.carousel-indicators .active {
  background-color: gray;
}

.btn-secondary:hover {
  color: #fff;
  background-color: var(--secondary);
  border-color: unset;
  text-decoration: underline;
}

.contact-info-item a:hover {
  text-decoration: none;
  color: #FFF!important;
}

.section-title {
  padding: unset;
}

.section-title::before,
.section-title::after {
  position: unset;
  content: none;
}

.btn-pulse {
  position: relative;
}

.btn-pulse:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60%;
  height: 80%;
  background: inherit;
  border-radius: 25px;
  animation: pulse-border 1500ms ease-out infinite;
}

.bg-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/king2.jpg), no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sponsor-logo {
  width: 250px;
  height: 150px;
  background: #FFF;
  align-items: center;
  display: flex;
  border: solid #0a1027 1px;
  border-radius: 6px;
  padding: 5px;
}

.navbar-toggler {
  padding: 3px;
  margin-top: 5px;
  background-color: var(--secondary);
}

@media (max-width: 992px) {
  .collapsing .navbar-nav,
  .collapse.show .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .sponsor-logo {
    width: 48%;
    height: 100px;
  }
}

.register-bg {
  background-image: url(../img/runners.jpg);
  background-size: cover;
}

.donate-bg {
  background-image: url(../img/2runners.jpg);
  background-size: cover;
}

.bg-service {
  background-position: center;
}

button.bg-secondary:focus,
#donateForm button.active,
#donateForm button:hover:not(button[type='submit']) {
  background-color: var(--primary)!important
}

.modal-head-bg {
  height: 200px;
  background-image: url(../img/runners.jpg);
  background-size: cover;
  background-position: center;
}