.navbar-light .navbar-nav {
  gap: 30px;
}
  
.navbar-light .navbar-nav .nav-link {
  color: var(--primary);
  font-weight: unset;
  padding: 8px 0px;
  /* border-radius: 5px; */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
  border-bottom: solid 2px var(--primary);

}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus {
  color: var(--primary);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
  color: var(--secondary);
}

.carousel-item {
  max-height: 750px;
}

.carousel-indicators {
  width: 90px;
}
.carousel-indicators li {
  width: 16px;
  height: 16px;
  background-color: white;
}

.carousel-indicators .active {
  background-color: gray;
}

.btn-secondary:hover {
  color: #fff;
  background-color: var(--secondary);
  border-color: unset;
  text-decoration: underline;
}

a.text-secondary:hover, a.text-secondary:focus {
  color: var(--secondary) !important;
  text-decoration: underline;
}

.contact-info-item a:hover {
  text-decoration: none;
  color: #FFF!important;
}

.section-title {
  padding: unset;
}

.section-title::before,
.section-title::after {
  position: unset;
  content: none;
}

.btn-pulse {
  position: relative;
}

.btn-pulse:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 60%;
  height: 80%;
  background: inherit;
  border-radius: 25px;
  animation: pulse-border 1500ms ease-out infinite;
}

.bg-testimonial {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/king2.jpg), no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sponsor-logo {
  width: 200px;
  height: 120px;
  background: #FFF;
  align-items: center;
  display: flex;
  border: solid #cfcfcf 1px;
  border-radius: 6px;
  /* padding: 5px; */
  overflow: hidden;
}

.navbar-toggler {
  padding: 3px;
  margin-top: 5px;
  background-color: var(--secondary);
}

@media (max-width: 992px) {
  .collapsing .navbar-nav,
  .collapse.show .navbar-nav {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .sponsor-logo {
    width: 48%;
    height: 100px;
  }
}

.register-bg {
  background-image: linear-gradient(225deg, #0013ff70, #0013ff), 
                    url(../img/runners.jpg);
  background-size: cover;
  background-position: center;
}
.contact-bg {
  background-image: url(../img/conact-bg-2.jpg);
  background-size: cover;
  background-position-x: center;
}

.donate-bg {
  background-image: url(../img/2runners.jpg);
  background-size: cover;
}

.bg-service {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/carousel-1.jpg), no-repeat center center;
  background-size: cover;
  background-position-x: center;
}

.bg-opobo-cta {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/canoe-regatta.jpg), no-repeat center center;
  background-size: cover;
  background-position-y: bottom;
}

.bg-opobo-map {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/airport-opobo-map.png), no-repeat center center;
  background-size: cover;
  background-position-y: bottom;
}

.bg-hotel {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hotel.jpg), no-repeat center center;
  background-size: cover;
  background-position-y: bottom;
}
button.bg-secondary:focus,
#donateForm button.active,
#donateForm button:hover:not(button[type='submit']) {
  background-color: var(--primary)!important;
  color: #FFF;
}

.modal-head-bg {
  height: 200px;
  background-image: url(../img/runners.jpg);
  background-size: cover;
  background-position: center;
}

#countdown li {
  display: inline-block;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media(max-width: 576px) {
  #countdown li {
    padding: 1em 0.75em;
  }
}

#countdown li span {
  /* display: block; */
  font-size: 1rem;
  padding-right: 5px;
  border-radius: 4px;
  margin-right: 0.25rem;
  padding: 0 0.25rem;
  color: var(--dark);
  background-color: var(--secondary);
}

.gallery-icon {
  display: none;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0, 136, 204, 0.6);
  height: 100%;
  width: 100%;
}

.gallery:hover .gallery-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-icon i {
  color: #FFF;
  font-size: 2rem;
}

.footer {
  font-size: smaller;
}

.form-control.btn-blue{
  background-color: var(--blue);
  color: #FFF,
}

.form-control:not([disabled]).btn-blue:hover{
  opacity: .8;
}

.volunteer-form .form-control {
  border: solid 1px var(--blue);
  /* padding-top: 1.6rem;
  padding-bottom: 1.6rem; */
  /* height: 1.6rem; */

  /* change - if you find where they are set 
    you want update from there and remove these 
  */
  border-radius: 5px;
}

.vertically-center {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .vertically-center {
    height: 100vh;
  }
}

input[type=radio] {
  width: 16px!important;
  height: 16px!important;
}

input[type=checkbox] {
  width: 40px!important;
  height: 40px!important;
}